* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 80px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.menu {
    display: flex;
    width: 700px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;

}

.logo {
    display: flex;
    align-items: flex-end;
    height: 40px;
    width: 90px;
    margin-right: 20px;
    justify-content: space-evenly;


}

.click-menu {
    color: #FFFFFF80;
}

.click-menu:hover {
    color: white;
}

.click-logo {
    color: #FFFFFF80;
}

.click-logo:hover {
    color: #ff004f;
}


#Intro {
    padding-top: 80px;
    padding-left: 10%;
    background-color: #000000;
    height: 700px;
    color: white;

    /* text-align: center; */

}



.intro-sel h1 {
    font-size: 70px;
    /* color: rgb(248, 112, 135); */
    color: #ff004f;
}

.intro-sel p {
    color: white;
    /* font-size:25px; */
}

.intro-img {
    margin-top: 40px;
    background-image: url(images/intro-background.jpg);
    background-repeat: no-repeat;
    height: 400px;
}

.education {
    padding-top: 10px;
    background-color: #000000;
    padding-left: 10%;
    font-size: 50px;
    padding-bottom: 20px;
    color: #fff;
}

.line-space {
    padding-top: 30px;
}

/* for skills */

#Skills {
    padding-top: 30px;
    background-color: #000000;
    color: white;
    padding-left: 10%;

}


.skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    color: black;
}

.box {

    height: 150px;
    width: 10%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;


}

.box-img {
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;

}


/* For projects */

#Projects {
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10%;
    color: white;
}

.box-projects {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.box-p {

    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    color: black;
    border-radius: 20px;
}

.box-p:hover {
    background-color: #ff004f;
}

.box-img-p {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-content-p {
    margin-left: 1rem;
    margin-right: 1rem;
}


/* Contact */

#Contact {
    padding-top: 20px;
    padding-left: 10%;

    background-color: #000000;
    color: white;

}

.contact-partition {
    display: flex;

}

.Thankyou {
    margin-left: 40%;
    color: #ff004f;
    font-size: 50px;
}

.cv {
    background-color: #ff004f;
    height: 50px;
    width: fit-content;
    text-align: center;
    border-radius: 6px;
    padding: 14px 50px;
}

.icons {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
}



/* copyright */

.copyright {

    background-color: #262626;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    color: white;

}