* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

body {
    background-color: #000000;
    color: white;
}


.nav-bar {

    width: 100%;
    padding-top: 25px;
    padding-left: 10%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.menu ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.menu ul li a {
    font-size: 18px;
    position: relative;
}


.bars {

    align-items: flex-end;
    display: none;

}



.click-menu {
    color: #FFFFFF80;
}

.click-menu:hover {
    color: white;
}

.click-logo {
    color: #FFFFFF80;
}

.click-logo:hover {
    color: #ff004f;
    transform: scale(1.3);
}

/*Intro */

#Intro {
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 5%;

}



#Intro h1 {
    font-size: 70px;

    color: #ff004f;
}



.intro-img {

    margin-top: 40px;
    background-image: url(images/intro-background.jpg);
    background-repeat: no-repeat;
    height: 400px;
}

.education {
    padding-top: 10px;
    padding-left: 10%;
    font-size: 50px;
    padding-bottom: 20px;

}

.line-space {
    padding-top: 30px;
}

/* for skills */

#Skills {
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 5%;
}

.skills-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.box {
    padding-top: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.box img {
    width: 75%;
    display: block;
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #000000;
    font-size: 0.85rem;
}


/* For projects */

#Projects {
    padding-left: 10%;
    padding-right: 5%;
}

.box-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.box-p {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    max-width: 500px;
}

.box-p img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    margin-bottom: 20px;
   
}

.box-p:hover {
    background-color: #ff004f;
}

.box-p:hover img {
    transform: scale(1.1);
}

.box-p:hover .box-content-p {
    height: 100%;
}

.box-content-p {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.box-content-p h3 {
    font-weight: 500;
    margin-bottom: 20px;
}


/* Contact */

#Contact {
    padding-top: 20px;
    padding-left: 10%;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-partition {
    display: flex;
}

.Thankyou {
    align-items: flex-end;
    padding-right: 10%;
    color: #ff004f;
    font-size: 50px;
}

.cv {
    background-color: #ff004f;
    height: 50px;
    width: fit-content;
    text-align: center;
    border-radius: 6px;
    padding: 14px 50px;
}

.icons {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
}

button:hover {
    transform: scale(1.2);
}


/* copyright */

.copyright {

    height: 100px;
    text-align: center;
    padding-top: 40px;

}